.iconos{
    font-size: 36px;
    opacity: 0.5;
}
.numeroh2{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    color: #242446;
    position: relative;
    font-size: 28px;
    bottom: -10px;
    left: 10px;
}
.desc-p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    padding: 0px 5px;
}

@media only screen and (max-width: 575px) {
    .iconos{
        font-size: 24px;
    }
    .numeroh2{
        font-size: 20px;
        bottom: -10px;
        left: 5px;
    }
    .desc-p{
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .iconos{
        font-size: 30px;
    }
    .numeroh2{
        font-size: 24px;
        bottom: -10px;
        left: 5px;
    }
    .desc-p{
        font-size: 12px;
    }
}
