.hero{
    background-image: url("../assets/backhero.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    margin: 0;
    height: 100vh;
}
.capa-negra{
    background-color: rgba(0, 0, 0, 0.541);
}
.caja-blanca{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}


/* @media only screen and (min-width: 1400px) {
    .hero{
        height: 800px;
    }
} */

.linkedin{
    color: #ff6569;
    font-size: 30px;
    margin-bottom: 20px;
}

.hero img{
    width: 240px;
    border-radius: 100%;
}
.hero h1{
    font-family: 'PT Sans', sans-serif;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
}
.hero p{
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}
.botonMain{
    font-family: 'PT Sans', sans-serif;
    text-decoration: none;
    background-color: #ff6569;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 18px;
    padding: 10px 30px;
    transition-duration: 200ms;
    transition-delay: 300ms;
    transition-timing-function: ease-in;
}

.botonMain:hover{
    color: #fff;
    background-color: #fa444a;
    transition-delay: 100ms;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}