.cont-img{
    border: 1px solid rgb(226, 226, 226);
    border-radius: 20px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 15px;
}
.cont-img img{
    width: 100px;
    height: 100px;
}
.cont-img h2{
    font-family: 'PT Sans', sans-serif;
    font-size: 36px;
    color: #242446;
}